.uniim{  /* header image cusotmization */
  height:80px;
  width:1518px;
}

*{ /* eliminating margin from around images to fit the screen perfectly */
  margin:0;
  font-family: comic sans ms,cursive;
}

body{ /* temperory to look downside */
  height: 3000px;
}

.hh{ /* customizing the lebanese university sentence at the top*/
  text-align: center;
  font-size: 30px;
  font-style:italic;
  text-decoration: underline;
  color: #c3c9cc;
}

table{ /* cusotmizing table size , look and style */
  font-size: 25px; /* for style */

  border: solid white;
  background-color: white;
  border-radius: 15px; /* for round corners */
  margin-top:10px;
  margin-left:20px;
}

input{ /* customizing the input boxes all along the page */
  height:20px;
  width:200px;
}

label{ /* customizing the labes by the input boxes side to align correctly as a block style and keep space between em and the boxes */
  width:200px;
  display:inline-block;
  float: left;
  margin-top:3px;
}

td{  /* cusotmizing td to align correctly */
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom:30px;
  text-align: left;
}

select{ /* cusotmizing select boxes */
  width:207px;
  height:26px;
}

option{ /* centering the default word showing on the select box */
  text-align: center;
}

select.age{ /* customizing the age input box because it had multiple select boxes*/
  width: 65px;
}




input.code{ /* customizing the input box of the code number box to be smaller */
  width:40px;

  }

input.number{ /* customizing the input box of the number */
  width:150px;
}
td.new{
  font-size: 10px;
  text-align: center;
  padding: 0;
}

td.h{ /* using a class to specify the padding bottom of the line sign up because it cant be specified in the h2{} because it doesnt have enough specifity and the table css setting override it */
  padding-bottom: 0;
  text-align: center;
}

div.menu{
  width:250px;
  background-color: navy;
  margin-top:0px;
  float:left;
  margin-bottom: 100px;
  margin-right:65px; /* space between menu and table */
  display:none;
}

div.link a {
  color:white;
}

div.parent{
  display: inline-block;
  width:1500px;
}

div.tablee{
  padding-left:300px;
  margin:0;
  height:1500px;
}
label.end{
  float:none;
  text-align: center;
  margin-left:220px;
}

button.end{
  float:none;
  text-align:center;
  margin-left:300px;
  font-size: 20px;
  width:300px;
}

i.fa fa-bars fa-4x{
margin:0;
padding:0;
}

div.ii{ /* customizing div of the icon */
  display: inline-block; /* make the div as small as the icon so it doesnt have a big width */
}
