.uniim{
  height:300px;
  width:1536px;
  border-bottom: 5px solid #b59695;
}

*{
  margin:0;
  background:#b59695 ;

}

.h1{
  text-align: center;
  font-size: 80px;
  font-style:italic;
  text-decoration: underline;
}

.h2{
  padding-top: 100px;
  text-align: center;
  font-size: 60px;

}

.div1{
    margin-left:400px;
    padding-top: 50px;
    font-size: 25px;
    box-sizing: 50px;

}

.div1 label{
  padding-right: 50px;
}
