/* .uniim{
  height:15%;
  width:100%;
  filter:brightness(1%);
} hihihello            jkhuiojhiojiojiojiojiojiojiojiojiojoi*/

*{
  font-family: comic sans ms,cursive;
}

body{ /* temperory to look downside */
  background-image: linear-gradient(
      rgba(0, 0, 3, 0.291),
      rgba(59, 59, 255, 0.786)
    ),
    url("img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1500px;;
    margin: 0;
    width: 100%;
}

.hh{ /* customizing the lebanese university sentence at the top*/
  text-align: center;
  font-size:xx-large;
  font-style:italic;
  text-decoration: underline;
  color: #ffffff;
  margin-bottom: 20PX;
}

table{ /* cusotmizing table size , look and style */
  font-size: 25px; /* for style */
  border: solid rgb(19, 24, 176);
  background-color: white;
  border-radius: 50px; /* for round corners */
  margin: auto;
  background-image: linear-gradient(rgb(19, 0, 95), rgb(52, 106, 255));
  margin-bottom: 50px;
}

input{ /* customizing the input boxes all along the page */
  height:20px;
  width:200px;
}

label{ /* customizing the labes by the input boxes side to align correctly as a block style and keep space between em and the boxes */
  width:200px;
  display:inline-block;
  float: left;
  margin-top:3px;
}

td{  /* cusotmizing td to align correctly */
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom:30px;
  text-align: left;
}

select{ /* cusotmizing select boxes */
  width:207px;
  height:26px;
}

option{ /* centering the default word showing on the select box */
  text-align: center;
}

select.age{ /* customizing the age input box because it had multiple select boxes*/
  width: 65px;
}




input.code{ /* customizing the input box of the code number box to be smaller */
  width:40px;

  }

input.number{ /* customizing the input box of the number */
  width:150px;
}

td.new{
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin:0;
  color:red;
}

td.new2{
  text-align: center;
  padding: 0;
  margin:0;
  font-size: 16px;

}

span.spannew{
  font-size: 16px;
  font-weight: bold;
  color:purple;
  margin-left: 35px;
  margin-top: 0;
}

td.h{ /* using a class to specify the padding bottom of the line sign up because it cant be specified in the h2{} because it doesnt have enough specifity and the table css setting override it */
  padding-bottom: 0;
  text-align: center;
}

div.menu{
  width:15%;
  background-color: navy;
  margin-top:0px;
  float:left;
  margin-bottom: 200px;
  margin-right:10px; /* space between menu and table */
  margin-left: 0;
  display:none;
  /* height:auto; */
  font-size: 150%;
  padding:2%;
}

div.link a {
  color:white;
}

/* div.parent{
  display: inline-block;
  width:1500px;
} */

div.tablee{
width: 90%;
margin:auto;
color: aliceblue;
margin-top:5%;
}

button.end{
  margin-left:35%;
  font-size: 20px;
  width:300px;
}


div.ii{ /* customizing div of the icon */
  display: inline-block; /* make the div as small as the icon so it doesnt have a big width */
  /* padding-bottom:40px; */
  margin:0;
  margin-left: 10px;
  /* float:left; */
}

/* div.headcu{
  display: inline-block;
  width:1513px;

} */

div.unii{
display: inline-block;
margin-left: 45%;
}

.navv{
  font-size: 2em;
  background-color: rgb(23, 0, 97);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
}

#navv1{
  float: left;
  margin-left: 7%;
  margin-top: 30px;
}

#navv2{
  float:right;
  margin-right: 7%;
  margin-top: 30px;
}

header{
  background-image: url('uni1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15%;
  width: 100%;
}


footer{
  margin-top: 30%;
}

div.headcu
{

  height:5%;
}


/*                                        */








#signinpage{
  background-image: linear-gradient(
      rgba(0, 0, 3, 0.291),
      rgba(59, 59, 255, 0.786)
    ),
    url("img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:0;
    height: 1500px;
}

/* .hh{ /* customizing the lebanese university sentence at the toph
  text-align: center;
  font-size:xx-large;
  font-style:italic;
  text-decoration: underline;
  color: #ffffff;
  margin-bottom: 20PX;
} */

/* div.unii{
  width:400px;
  /* float:left;
margin: auto;
text-align: center;
} */


.mainb
{
  color:white;
  font-size: 150%; /* for style */
  margin-left:25%;
  margin-right:25%;
  text-align:center;
  margin-top: 4%;
  border: solid rgb(19, 24, 176);
  background-image: linear-gradient(rgb(19, 0, 95), rgb(52, 106, 255));
  border-radius: 50px;
  transform: scale(1);
}

.mainb input{
  width:50%;
  height:35px;
  margin:3%;
}

input.ii2 /* to fix the size of terms check box   */
{
  width:20px;
  height:20px;
  margin:0;
  margin-left: 5%;

}

.mainb select{
  width:50%;
  height:35px;
  margin:3%;
  margin-bottom: 1%;
  margin-left:5%;
  text-align:center;
  color:rgb(247, 247, 255);
  background-color: rgb(8, 44, 107);
}


footer.footer2{
  margin-top: 40%;
}

header.header2{
  background-image: url('uni1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15%;
  width: 100%;
}

.navv{
  font-size: 2em;
  background-color: rgb(23, 0, 98);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
}

#navv1{
  float: left;
  margin-left: 7%;
  margin-top: 30px;
}

#navv2{
  float:right;
  margin-right: 7%;
  margin-top: 30px;
}

/* div.menu{
  width:250px;
  background-color: navy;
  margin-top:0px;
  float:left;
  margin-bottom: 100px;
  margin-right:10px; /* space between menu and table
  margin-left: 10px;
  display:none;
} */

.title1{
  color:white;
  text-align: center;
  margin: auto;
}

/* h1{
  margin-bottom: 0px;
  font-size: 2.3em;
} */

h4{
  margin-top: 4px;
  font-size: 1.3em;
  margin-bottom: 50px;
}

.books{
  width:80%;
  margin: auto;
  color:white;
  display: block;

}

.bookst{
  color:white;
  font-size: 25px; /* for style */
  text-align:center;
  border: solid rgb(19, 24, 176);
  background-image: linear-gradient(rgb(19, 0, 95), rgb(52, 106, 255));
  border-radius: 50px;
  margin: auto;
  padding-bottom: 20px;

}

h3{
  text-align: center;
  font-size: 2em;
  background-image: linear-gradient( rgba(0, 0, 0, 0),rgb(47, 0, 255),rgba(0, 0, 0, 0));
  padding: 20px;
  margin: auto;
  width: 40%;
}

.tdb{
  width: 10%;
  text-align: center;
}

.link{
  color: #ffffff;
}

.tdh{
  width: 10%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.button1
{
  width:20%;
  margin-right: 5%;
  float: left;
  display: block;
  padding: 10px;
  border-radius: 40px;
  background-color: blue;
  color: aliceblue;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttonss
{
  display: block;
  margin: auto;
  margin-left: 25%;
}

hr{
  margin: 20px;
  border: 0px;
}

#bookst1
{

}

#bookst2
{
  display: none;
}

#bookst3
{
  display: none;
}

.mainb label{
  width:100%;
  margin-left:3%;
  font-size: 80%;
  padding: 0;
}

.check
{
  /* margin-left: 18%; */
  display: inline-block;
}

input.button{
  /* margin-left: 15%; */
  /* float: inherit; */
}

div.ii2
{
  float: left;
}

div.labell
{
  float: left;
}

#ot1{
  display: none;
  width:50%;
  height:35px;
  margin:3%;
}

input.hiddeninput
{
  width:100%;
  height:35px;
  margin:0;
}

input.end
{
  margin-bottom: 0;
}

span.spannew2{
  font-size: 16px;
  font-weight: bold;
  color:purple;
  margin-left: 1%;
  margin-top: 0;
}
